appdirs==1.4.4
bcrypt==4.0.1
black==26.5.1
cffi==2.0.0
click==8.1.8
distro==1.8.0
Flask==2.2.2
Flask-Bcrypt==1.0.1
flask-prometheus-metrics==1.0.0
Flask-WTF==1.0.1
itsdangerous==2.2.0
Jinja2==3.1.2
jsonformatter==0.3.2
MarkupSafe==2.1.1
mypy-extensions==0.4.3
paho-mqtt==1.6.1
pathspec==1.1.1
platformdirs==2.5.2
prometheus-client==0.15.0
pycparser==2.21
pyhdb==0.3.4
PyYAML==6.0.1
regex==2022.10.31
six==1.17.0
setuptools==82.0.0
toml==0.10.2
tomli==2.4.1
typing_extensions==4.12.2
waitress==3.0.2
Werkzeug==2.2.2
