import datetime

from custom_logger.logger import HanaInjectorError
from database_sql.sql import SQL
from typing import Dict, List


class Converter:
    """The class includes a converter class to transform MQTT input to a SAP Hana database"""

    _sql = SQL()
